<nav class="navbar navbar-default">
<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li> <!-- Version classique avec href autre version singlepage version angular avec routerLink-->
    <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li> 
  </ul>
  <div class="navbar-right">
    <p>Vous êtes connecté depuis {{secondes}} secondes</p>
  </div>
</div>
</nav>
<div class="container">
  <div class="row">
    <!-- je déplace tout dans un nouveau fichier appareil-view et j'appel le component ici <app-appareil-view></app-appareil-view>-->
    <router-outlet></router-outlet>
  </div>
</div>