<div class="col-xs-12">
    <h2>Mes Appareil</h2>

   <!-- Version SANS ASYNC <p>Mise à jour: {{ lastUpdate | date: "yMMMMEEEEd" | uppercase }}</p> -->
   <p>Mise à jour: {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
    <!-- Boucle for pour récuperer la iste des appareille et stocke leur valeur index dans une variable i-->
    <ul class="list-group">
      <app-appareil *ngFor="let appareil of appareils;
                    let i = index" [IndexOfAppareil] = "i"
                    [appareilName] = "appareil.name" 
                    [appareilStatut] = "appareil.statut"
                    [id]= "appareil.id"> </app-appareil>
      
      <!-- premiere version avec 3 appel séparer--> 
      <!---  <app-appareil [appareilName]="appareilOne" [appareilStatut] = "'éteint'"></app-appareil>
      <app-appareil [appareilName]= "appareilTwo" [appareilStatut] = "'allumer'"></app-appareil>
      <app-appareil [appareilName] = "appareilThree" [appareilStatut] = "'éteint'"></app-appareil> -->
    </ul>
    <button class="btn btn-success" 
            (click)="onAllumer()">Tout allumer</button>

    <button class = "btn btn-danger" (click)="onEteindre()"> Tout éteindre</button>        
  </div>